@font-face {
  font-family: zeldaFont;
  src: url(fonts/nintendo-nes-font.otf.woff2);
}

body {
  background-color: black;
  font-family: zeldaFont;
  color: white;
  text-align: center;
}

.gif {
  display: block;
  margin: auto;
  width: 50%;
}

#sadluigi {
  padding-top: 30px;
  opacity: 0;
}

#playButton {
  color: greenyellow;
}